* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  height: 100%;
}

nav {
  padding: 32px 32px;
  min-height: 80px;
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > a {
  vertical-align: bottom;
}

nav img {
  max-height: 48px;
  background-color: white;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li a:link,
nav ul li a:visited {
  color: white;
}

nav ul li a:hover {
  color: rgb(229, 145, 0);
}

nav ul li a:active {
  color: rgb(92, 229, 0);
}

#current-page {
  color: aquamarine;
}

header {
  display: inline-block;
  margin: -10px;
  padding: 30px;
  text-align: center;
  width: 70%;
}

main {
  margin: 30px;
  padding: 10px;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
}

main div div ul {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.list {
  padding: 20px;
  font-size: 1.2em;
}

.pictures {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
}

main div div img {
  width: 150px;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
}

footer nav {
  display: flex;
  justify-content: center;
}
